.ModalBackground {
    background-color: rgba(58, 60, 60, 0.8);
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}